{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">


        {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<div>

      <div><strong> {{data.title}} </strong></div>
    <br>
    <div> {{data.description}}</div>
    <br>
        <div> Текущая цена =  {{data.price}}  ₽ </div>
    <br>
    <form method="POST" action="">
    <input type="price" class="form-control" name="price" id="price" value="{{data.price + 500}}" >
        <br>
        <input type="price" class="form-control" name="price" id="mail" placeholder="Введите почту для отправки уведомлений!!!" >
    <br><br>
      <input value="Сделать ставку" type=submit class="button is-info ">  </input>
        </form>

    <h1> Ставка принадлежит: {{data.buyer}}</h1>
    <div> Кстати, лот закрывается через {{dt}}</div>
</div>



{% endblock %} </div>