{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Лоты</h3>
    <br>

        {% with messages = get_flashed_messages() %}

{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}

{% endwith %}



</div>


  <style>

   {
        box-sizing: border-box;
         display: inline-block;



}


.product-item {

    width: 270px;
    background: #dc3838;
    padding: 2px;


    border: solid #F4F4F4;
    float: left;
    position: relative;
    top: -20px;
    left: 55px;



}

.product-item:hover {

   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   display: block;
   width: 100%;
}
.product-list {

   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {

   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}
  </style>





{% for el in data %}

    <div class="product-item position-relative" >
        <a href="/buy/{{el.id}}" class=" stretched-link" ></a>
      <img src="/static/images/chirik.jpg">
      <div class="product-list">
        <h3>{{ el.title}}</h3>
          <span class="price">₽ {{el.price}}</span>
          <a href="/buy/{{el.id}}" class="button " style="position: relative;">Купить</a>

      </div>
     </div>

{% endfor %}


   <!--{%for el in data %}
              <a href="/offer/zoloto_56_proba_prekrasnejshie_sergi_s_nebesno_goluboj_prirodnoj_birjuzoj_ves_5_26_gramm-i224689509794582.html" class="carousel__item__photo ">
                    <div class="mainpage_offer_photo_container">
                        <img src="/static/images/chirik.jpg" width="100" height="100" alt="Фото">
                    </div>
                </a>

                <a href="/offer/zoloto_56_proba_prekrasnejshie_sergi_s_nebesno_goluboj_prirodnoj_birjuzoj_ves_5_26_gramm-i224689509794582.html" class="carousel__item__title">
                    <strong><div class="title_box">{{ el.title }}</div></strong>
                </a>

                <span class="carousel__item__sub">
                <span class="carousel__item__small"></span>
                <span class="carousel__item__price">
                {{ el.price }}<span class="rouble"> RUB</span>        </span>
                </span>
                        <a href ='' class="button button-large button-block button-outline-primary"> Информация о товаре</a>

            {% endfor %}

       </div></div>-->

{% endblock %}